body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text);
}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps pre {
  margin: 2rem 0;
}

.preparation-steps ol,
.preparation-steps ul {
  margin: 2rem;
  padding: 0 2rem;
}

/* generics */
.center {
  text-align: center;
}

.m-x{
  margin: 0 var(--spacing-gutter-medium);
}

.m-y{
  margin: var(--spacing-gutter-medium) 0;
}